"LightOrgan_MainGUI.jpg" PNG DISCARDABLE "LightOrgan_MainGUI.jpg"
"lamp_sub_6f.jpg" PNG DISCARDABLE "lamp_sub_6f.jpg"
"lamp_bass_6f.jpg" PNG DISCARDABLE "lamp_bass_6f.jpg"
"lamp_low_mid_6f.jpg" PNG DISCARDABLE "lamp_low_mid_6f.jpg"
"lamp_mid_6f.jpg" PNG DISCARDABLE "lamp_mid_6f.jpg"
"lamp_high_mid_6f.jpg" PNG DISCARDABLE "lamp_high_mid_6f.jpg"
"lamp_high_6f.jpg" PNG DISCARDABLE "lamp_high_6f.jpg"
"lamp_strobe_6f.jpg" PNG DISCARDABLE "lamp_strobe_6f.jpg"
